code{
	display:block;
	tab-size: 4;
	background:#FFF;
	font-size:18px;
	white-space:pre;
}
code[data-tree]{
	background:#EEEEEC;
	white-space:normal;
}
code[data-tree]:before{
	white-space:pre;
	line-height:30px;
	border-top:1px solid #AAAAAA;
	border-bottom:1px solid #AAAAAA;
	display:block;
	content: "  " attr(data-file);
	background: linear-gradient(#FAFAFA, #E4E4E4);
	font-size:17px;
}
code .tree-cn{
	margin-left:20px;
	background:#FFF;
	border-left:1px solid #AAAAAA;
}
code .tree-lines, code .tree-code{
	display:table-cell;
}
code .tree-lines{
	padding:0 8px 0 0;
	counter-reset: line;
}
code .tree-lines > *{
	display:block;
	counter-increment: line;
}
code .tree-lines > *:before{
	color: #888888;
	display:block;
	width:42px;
	text-align:right;
	-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
	  	user-select: none;
	content: counter(line);
}
code .tree-code{
	white-space:pre;
}

.tree-cian{
	color: #009695;
}
.tree-gray{
	color: #888888;
}
.tree-orange{
	color: #F57D00;
}
.tree-blue{
	color:#3364A4;
}
